:host-context(.ios body.light) ion-content, :host-context(.ios body.light) ion-toolbar {
    --background: #f4f5f8;
}

.progressDot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: auto;
}

#flashcard {
    margin: auto;
    margin-top: 32px;
    width: calc(100% - 128px);
    max-width: 400px;
}

.stretchedButton {
    display: block;
    width: 80%;
    max-width: 256px;
    margin-left: auto;
    margin-right: auto;
}
