<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Practice</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/practice"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Practice</ion-title>
    </ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-header>

  <div class="voc-content">
    @if (!finished) {
      <div>
        <ion-grid class="ion-padding" style="max-width: 440px">
          <ion-row>
            @for (result of results; track $index) {
              <ion-col>
                @switch (result) {
                  @case (true) {
                    <div class="progressDot" style="background: #2dd36f"></div>
                  }
                  @case (false) {
                    <div class="progressDot" style="background: #eb445a"></div>
                  }
                  @default {
                    <div class="progressDot" style="background: #92949c"></div>
                  }
                }
              </ion-col>
            }
          </ion-row>
        </ion-grid>

        <div id="flashcard" #flashcard (window:resize)="(0)" [style]="{ height: flashcard.offsetWidth + 'px' }">
          <ion-card #flashcard style="height: 100%; margin-inline: 0px">
            <ion-card-content style="height: 100%">
              <ion-grid style="height: 100%">
                <ion-row style="height: 70%" class="ion-align-items-center">
                  <ion-col class="ion-text-center">
                    <ion-label>{{ !rotated ? flashcardFrontText : flashcardBackText }}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                  <ion-col class="ion-text-center">
                    <ion-button
                      fill="clear"
                      (click)="speak()"
                      (vtLongPress)="toggleAutoSpeak()"
                      [color]="autoSpeak ? 'primary' : 'dark'">
                      <ion-icon size="large" name="volume-medium-outline"> </ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </div>
        <br />
        <ion-grid class="ion-padding" style="max-width: 600px">
          @if (!rotated) {
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button fill="clear" color="dark" (click)="rotateCard()">
                  <ion-icon size="large" name="sync-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          } @else {
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button fill="clear" color="dark" (click)="markAsWrong()">
                  <ion-icon size="large" name="thumbs-down-outline"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col class="ion-text-center">
                <ion-button fill="clear" color="dark" (click)="markAsCorrect()">
                  <ion-icon size="large" name="thumbs-up-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          }
        </ion-grid>
      </div>
    } @else {
      <div>
        <h1 style="text-align: center; margin-top: 128px">Finished!</h1>

        <p style="width: 100%; text-align: center; margin-top: 128px">
          {{ correctPercentage | number: '1.0-0' }}% correct
        </p>

        <ion-button style="margin-top: 128px" class="stretchedButton" (click)="goBack()">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          <ion-label slot="end">Back</ion-label>
        </ion-button>
        <ion-button style="margin-top: 16px" class="stretchedButton" (click)="continuePractice()">
          <ion-icon slot="start" name="reload"></ion-icon>
          <ion-label slot="end">Continue</ion-label>
        </ion-button>
      </div>
    }
  </div>
</ion-content>
