<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="voc-content">
    <ion-list inset="true" lines="none">
      <ion-item button="true">
        <ion-label>Import</ion-label>
        <input type="file" accept=".json" id="import" (change)="import($event)" />
      </ion-item>
      <ion-item button="true" (click)="export()">
        <ion-label>Export</ion-label>
      </ion-item>
    </ion-list>

    <ion-list inset="true" lines="none">
      <ion-item>
        <ion-select label="Theme" interface="popover" [(ngModel)]="selectedTheme" (ngModelChange)="onThemeChanged()">
          @for (theme of themes; track theme) {
            <ion-select-option [value]="theme">
              {{ theme }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list inset="true" lines="none">
      <ion-item>
        <ion-toggle
          [(ngModel)]="showPracticeLevelInVocabularyList"
          (ngModelChange)="onShowPracticeLevelInVocabularyListChanged()">
          Show practice level in list
        </ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list inset="true" lines="none">
      <ion-item>
        <ion-select
          label="Foreign language"
          [(ngModel)]="foreignLanguage"
          (ngModelChange)="onForeignLanguageChanged()"
          [interfaceOptions]="{ subHeader: 'More languages can be installed in your browser settings' }">
          @for (language of languages; track language) {
            <ion-select-option [value]="language">
              {{ language }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select
          label="Native language"
          [(ngModel)]="nativeLanguage"
          (ngModelChange)="onNativeLanguageChanged()"
          [interfaceOptions]="{ subHeader: 'More languages can be installed in your browser settings' }">
          @for (language of languages; track language) {
            <ion-select-option [value]="language">
              {{ language }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list inset="true" lines="none">
      <ion-item>
        <ion-toggle [(ngModel)]="reminderEnabled" (ngModelChange)="onReminderEnabledChanged()">
          Daily reminder
        </ion-toggle>
      </ion-item>
      @if (reminderEnabled) {
        <ion-item button="true" detail="false" (click)="toggleReminderTimePicker()">
          <ion-label>Time</ion-label>
          <ion-text style="padding-right: 4px" color="{{ showReminderTimePicker ? 'primary' : 'dark' }}"
            >{{ reminderTime }}
          </ion-text>
        </ion-item>
      }
      @if (reminderEnabled && showReminderTimePicker) {
        <ion-datetime
          style="--background: medium"
          size="cover"
          presentation="time"
          hourCycle="h23"
          color="primary"
          [(ngModel)]="reminderTime"
          (ngModelChange)="onReminderTimeChanged()">
        </ion-datetime>
      }
    </ion-list>

    <ion-list inset="true" lines="none">
      <ion-item lines="none" (click)="checkForUpdate()">
        <ion-label>Vocabulary - Version 1.1.0</ion-label>
        @if (checkingForUpdate) {
          <ion-spinner></ion-spinner>
        }
      </ion-item>
      <ion-item lines="none">
        <ion-label>© Sebastian Bäumlisberger</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
