:host-context(.ios body.light) ion-content, :host-context(.ios body.light) ion-toolbar {
    --background: #f4f5f8;
}

.md ion-card 
{
    margin-top: 16px;
}

.md ion-card:first-child
{
    margin-top: 32px;
}