<ion-header translucent>
  <ion-toolbar>
    <ion-title style="text-align: center">{{ isEdit ? 'Edit Vocable' : 'Add Vocable' }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Foreign meaning</ion-label>
      <ion-input id="foreignMeaning" [(ngModel)]="foreignMeaning" autocorrect="true"> </ion-input>
    </ion-item>
    <br />
    <ion-item>
      <ion-label position="stacked">Native meanings</ion-label>
      <ion-input [(ngModel)]="nativeMeanings[0].value" autocorrect="true"></ion-input>
    </ion-item>
    @for (nativeMeaning of nativeMeanings.slice(1); track nativeMeaning.value; let i = $index) {
      <ion-item id="nativeMeaning{{ i }}">
        <ion-input [(ngModel)]="nativeMeaning.value" autocorrect="true"></ion-input>
      </ion-item>
    }
    <br />
    <ion-item lines="none">
      <ion-button slot="end" style="width: 32px; height: 32px" (click)="addNativeMeaning()">
        <ion-icon icon="Add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
