<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vocabulary</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addVocable()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vocabulary</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="voc-content">
    <ion-searchbar debounce="200" (ionInput)="search($event)"></ion-searchbar>

    <ion-list>
      <ion-item-sliding *ngFor="let vocable of vocabulary">
        <ion-item (click)="editVocable(vocable)">
          <ion-label>
            <h2>{{vocable.foreignMeaning}}</h2>
            <p>{{vocable.nativeMeanings.join(', ')}}</p>
          </ion-label>
          @if(showPracticeLevel){
          <ion-icon slot="start" size="small" [name]="toIcon(vocable)" [style]="{'color': toColor(vocable)}" />
          }
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteVocable(vocable)">
            <ion-icon slot="start" name="trash"></ion-icon>Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll threshold="100px" disabled="{{!canLoadMore}}" (ionInfinite)="loadMore($event)">
      <ion-row style="height: 8px"></ion-row>
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
